:root {
    --main-color: #FFFAFA;
    --secondary-color: #00CE3A ;
    --primary-font: 'Michroma', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}


.home {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.home a {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 24px;
    color: var(--main-color);
    text-decoration: none;
    transition: ease-in-out 1s;
}

.home a:hover {
    color: var(--secondary-color);
    font-size: 2rem;
}

/* Navigation */
.projects {
    width: 100%;
    position: absolute;
    top: 10%; 
    margin-left: 10rem;
}

.projects .projectsList li {
    list-style: none;
    margin-bottom: 50px;
}

.projects .projectsList li a  {
    text-decoration: none;
    font-size: 96px;
    font-family: var(--secondary-font);
    color: transparent;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.projects .projectsList li a {
        position: relative;
        display: inline-block;
        color: transparent;
        overflow: hidden;
        background: linear-gradient(to right, #00CE3A 50%, transparent 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
        text-decoration: none; 
}


  /* ---------- Footer -------- */

  footer {
    position: absolute;
    bottom: 5%;
}
footer p {
    font-family: var(--primary-font);
    font-size: 24px;
    color: var(--secondary-color);
    
}
footer nav a {
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--primary-font);
    margin-right: 3rem;
    margin-top: 0;
    padding: 0;
    cursor: url(/images/cursor.png), auto !important;
    transition: ease-in-out 1s;
}
footer nav a:hover {
    font-size: 2rem;
}
