:root {
    --main-color: #FFFAFA;
    --secondary-color: #00CE3A;
    --primary-font: 'Michroma', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}


html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url(/images/grainTexture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    margin: 0 10rem 0 10rem;
}

.landing-screen {
    width: 100%;
    display: flex; 
}

.landing-screen .text h1{
    font-size: 180px;
    margin: 0;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--secondary-color);
}

.landing-screen .name {
    margin-bottom: 5rem;
}

.landing-screen .name p {
    font-size: 36px;
    font-family: var(--primary-font);
    color: var(--main-color);
    margin: 0;
}

footer p {
    font-family: var(--primary-font);
    font-size: 24px;
    color: var(--secondary-color);
    
}

footer nav a {
    text-decoration: none;
    color: var(--main-color);
    font-family: var(--primary-font);
    margin-right: 3rem;
    margin-top: 0;
    padding: 0;
}