/* ------------  About Page  --------------------- */
body {
    height: 100vh;
}


.home {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.home a {
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 24px;
    color: var(--main-color);
    text-decoration: none;
    transition: ease-in-out 1s;
}

.home a:hover {
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.content {
    width: 100%;
    margin-left: 10rem;
    height: 200vh;
}

.content h4 {
    font-size: 96px;
    color: var(--secondary-color);
    font-weight: 800;
    font-family: var(--secondary-font);
    margin-bottom: 0;
}

.content .aboutMe {
    font-family: var(--primary-font);
    font-size: 24px;
    width: 60%;
    color: var(--main-color);
}

.content img {
    width: 80%;
    height: 45%;
}


/* contact section */

.content .contactTitle h5 {
    font-size: 96px;
    color: var(--secondary-color);
    font-weight: 800;
    font-family: var(--secondary-font);
    margin-bottom: 0;
    margin-top: 4rem;
}

.contactTitle .contactText {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.contactTitle .contact p {
    font-size: 24px;
    font-family: var(--primary-font);
    color: var(--main-color);
    margin: 0;
}

.contactTitle .contact .info h6 {
    color: var(--secondary-color);
    font-size: 24px;
    font-family: var(--primary-font);
    margin: 0;
}

/* Media Queirries */

@media only screen and (max-width: 600px) {
    .content {
        margin-left: 2rem;
        height: 100vh;
    }
    .content h4 {
        font-size: 5rem;
        margin-top: 1rem;
    }
    .content .aboutMe {
        font-size: 0.8rem;
        width: 80%;
    }
    .content img {
        height: 25%;
    }

    /* Contact */
    
.content .contactTitle h5 {
    font-size: 4rem;
    margin-top: 1rem;
    }
.contactTitle .contact p {
        font-size: .8rem;
        margin: 0;
        display: none;
    }
    .contactTitle .contact .info h6 {
        color: var(--secondary-color);
        font-size: 0.8rem;
        font-family: var(--primary-font);
        margin: 0;
    }
}