html,
body {
  padding: 0;
  margin: 0;
}

.landing-screen {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: url(/images/glitch-hero.jpg);
  background-size: 100%;
  background-position: left;
  background-repeat: no-repeat;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.landing-screen .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: inline-block;
}

.landing-screen .name h1 {
  color: #fff;
  font-family: "Cinzel", serif;
  font-size: 96px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
}

.landing-screen .name p span {
  font-family: "Raleway", sans-serif;
  color: #690AFF;
  font-weight: 400;
}

.landing-screen .name .line {
  position: absolute;
  top: 110%;
  left: 51%;
  width: 7em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  font-weight: 200;
  overflow: hidden;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #fff;
  font-family: "Abel", sans-serif;
  letter-spacing: 5px;
}

.landing-screen .name .anim-typewriter {
  -webkit-animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
          animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 500ms steps(40) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 16em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 16em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.landing-screen .name h1::before, .landing-screen .name h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.landing-screen .name h1::before {
  color: #ff00c1;
  -webkit-animation: glitch-effect 3s infinite;
          animation: glitch-effect 3s infinite;
}

.landing-screen .name h1::after {
  color: #3498db;
  -webkit-animation: glitch-effect 4s infinite;
          animation: glitch-effect 4s infinite;
}

@-webkit-keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}

@keyframes glitch-effect {
  0% {
    left: -2px;
    top: -2px;
  }
  25% {
    left: 2px;
    top: 0px;
  }
  50% {
    left: -1px;
    top: 2px;
  }
  75% {
    left: 1px;
    top: -1px;
  }
  100% {
    left: 0px;
    top: -2px;
  }
}

.landing-screen img {
  position: relative;
  top: 40%;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.landing-screen .cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.landing-screen .cool-link:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

@media all and (max-width: 1024px) {
  body {
    background-size: cover;
  }
}

@media all and (max-width: 375px) {
  body {
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  h1 {
    font-size: 36px !important;
    letter-spacing: 10px !important;
  }
  .line {
    font-size: 24px !important;
    letter-spacing: 3px !important;
  }
  .cool-link {
    font-size: 24px !important;
  }
}

.about {
  width: 100%;
  background-color: #0000;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .description {
  color: #fff;
  text-align: left;
}

.about .description p {
  font-family: "Cinzel", serif;
  font-size: 144px;
  margin-left: 4rem;
  color: #000;
}

.captures {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #0f0f0f;
}

.captures .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 250px 0 250px;
}

.captures .content img {
  color: #fff;
}

.captures .content .text h2 {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 96px;
  text-align: center;
}

.captures .content .text p {
  color: #fff;
  font-family: "Raleway", sans-serif;
  margin-left: 5px;
  font-size: 18px;
  font-weight: 400;
}

.photography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photography .row {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  max-width: 50%;
}

.photography .row img {
  vertical-align: middle;
  width: 100%;
}
/*# sourceMappingURL=home.css.map */